.center{
    text-align: center;
}


/* HEader Part */
.header-image{
    background-image: url(../img/k18FAAS.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-content{
    padding-top: 150px;
    align-items: center;
    text-align: center;
    color: white;
}
.form-inline{
    color: rgba(255, 255, 255, 0.678);
}
.bg-light{
    background-color: transparent !important;
}

.img-content h2{
    font-weight: 300;
}

.btn-size{
    padding: .2rem 3rem;
    border-color: white;
    color: white;
    border-radius: 50px;
}
/* HEader Part */

/* about part */
.about-padding{
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.about-text{
    padding: 3rem;
}
.about-text h3{
    font-weight: 300;
}
.about-text p{
    font-size: 15px;
}
.about-icon{
    display: flex;
    justify-content: space-between;
}
.about-icon p{
    font-size: 15px;
}
.about-icon i{
    padding: 2.5rem;
    background-color: rgb(126, 125, 124);
    border-radius: 50%;
}
.about-icon i:hover{
    color: white;
    background-color: #28a745;
}
.about-text button{
    background-color: #28a745;
}

/* about part */

/* first-content */
.first-content{
    
    padding: 2rem;
}
.bk-colors{
    background-color: rgba(229, 244, 247, 0.61);  
}

.first-content img{
    width: 80%;
}
.first-content p{
    margin-top: 2rem;
    font-size: 15px;
}
.first-content button{
    margin-top: 2rem;
    background-color: #28a745;
}
/* first-content */

/* image-content */
.image-content{
    background-image: url(../asset/img/image.jpg);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    /* background-color: rgba(70, 69, 69, 0.582); */
}
.image-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.image-content p{
    font-size: 8px;

}
/* image-content */


/* team-content */
.team-content{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.team-content h2{
    font-weight: 300;
    padding: 2rem;
}
.team-content p{
    font-size: 10px;
    padding-bottom: 2rem;
}
.team-img{
    display: flex;
}
.team-img img{
    width: 20%;
}
.team-img img:hover{

}
/* team-content */

/* pricing */
.pricing{
    background-color: rgba(229, 244, 247, 0.61);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pricing h2{
    font-weight: 300;
    padding: 1rem;
}
.pricing p{
    font-size: 10px;
    padding-bottom: 2rem;
}
.row{
    justify-content: space-between;
}
.price-card{
    background-color: white;
    border: 10px solid rgba(229, 244, 247, 0.61);
}
.price-card button{
    display: flex;
    justify-content: space-between;
}
.price-card h2{
    color: #28a745;
}
.price-card p{
    padding-bottom: 8rem;
}
/* pricing */

/* map-content */
.map-content{
    padding: 80px 0;
}
.map-content img{
    width: 100%;
}
/* map-content */


/* last-image-content */
.last-image-content{
    background-image:url(../asset/img/Mountain.jpg);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}
/* last-image-content */
